Signs flow.json
[{"id":"f96e893.aadc878","type":"tab","label":"Signsss","disabled":false,"info":""},{"id":"f2257844.cda408","type":"http request","z":"f96e893.aadc878","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://37fbd6c4-d714-4234-907a-619207918b02-bluemix.cloudant.com/pedestrian/_all_docs?include_docs=true&desending=true","tls":"","persist":false,"proxy":"","authType":"basic","x":230,"y":140,"wires":[["965651a9.c9da","d44d1f91.9ee0f"]]},{"id":"b0c3109b.313a4","type":"debug","z":"f96e893.aadc878","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":100,"wires":[]},{"id":"965651a9.c9da","type":"function","z":"f96e893.aadc878","name":"","func":"msg.payload = msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":80,"wires":[["b0c3109b.313a4","d9dfaf15.6c1e3"]]},{"id":"c52b29c7.b7cc08","type":"ui_button","z":"f96e893.aadc878","name":"","group":"bbeef8bd.0df5b8","order":1,"width":7,"height":1,"passthru":false,"label":"Pedestrian","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":260,"wires":[["f2257844.cda408"]]},{"id":"d9dfaf15.6c1e3","type":"ui_template","z":"f96e893.aadc878","group":"bbeef8bd.0df5b8","name":"","order":5,"width":"12","height":"11","format":"<img src = {{msg.payload}} />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":780,"y":220,"wires":[[]]},{"id":"d44d1f91.9ee0f","type":"delay","z":"f96e893.aadc878","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":180,"wires":[["d9dfaf15.6c1e3"]]},{"id":"3a8ea26e.fd997e","type":"http request","z":"f96e893.aadc878","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://37fbd6c4-d714-4234-907a-619207918b02-bluemix.cloudant.com/school/_all_docs?include_docs=true&desending=true","tls":"","persist":false,"proxy":"","authType":"basic","x":230,"y":340,"wires":[["d61a43c3.4bed1"]]},{"id":"d05f9c8.7f60a6","type":"debug","z":"f96e893.aadc878","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":300,"wires":[]},{"id":"d61a43c3.4bed1","type":"function","z":"f96e893.aadc878","name":"","func":"msg.payload = msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":320,"wires":[["d05f9c8.7f60a6","d9dfaf15.6c1e3"]]},{"id":"9dd2c08d.fc5ba","type":"ui_button","z":"f96e893.aadc878","name":"","group":"bbeef8bd.0df5b8","order":3,"width":7,"height":1,"passthru":false,"label":"school zone","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":440,"wires":[["3a8ea26e.fd997e"]]},{"id":"f9b20964.fbadc8","type":"http request","z":"f96e893.aadc878","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://37fbd6c4-d714-4234-907a-619207918b02-bluemix.cloudant.com/hospital/_all_docs?include_docs=true&desending=true","tls":"","persist":false,"proxy":"","authType":"basic","x":250,"y":520,"wires":[["27ab32bb.794f5e"]]},{"id":"83497bce.cfb6d8","type":"debug","z":"f96e893.aadc878","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":500,"wires":[]},{"id":"27ab32bb.794f5e","type":"function","z":"f96e893.aadc878","name":"","func":"msg.payload = msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":500,"wires":[["83497bce.cfb6d8","d9dfaf15.6c1e3"]]},{"id":"39fb433a.f8b51c","type":"ui_button","z":"f96e893.aadc878","name":"","group":"bbeef8bd.0df5b8","order":7,"width":7,"height":1,"passthru":false,"label":"hospital","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":560,"wires":[["f9b20964.fbadc8"]]},{"id":"19491a0f.198036","type":"http request","z":"f96e893.aadc878","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://37fbd6c4-d714-4234-907a-619207918b02-bluemix.cloudant.com/stop/_all_docs?include_docs=true&desending=true","tls":"","persist":false,"proxy":"","authType":"basic","x":250,"y":660,"wires":[["2891924b.d7f3ae"]]},{"id":"1458cc6a.c0b134","type":"debug","z":"f96e893.aadc878","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":660,"wires":[]},{"id":"2891924b.d7f3ae","type":"function","z":"f96e893.aadc878","name":"","func":"msg.payload = msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":620,"wires":[["1458cc6a.c0b134","d9dfaf15.6c1e3"]]},{"id":"65b566b3.929888","type":"ui_button","z":"f96e893.aadc878","name":"","group":"bbeef8bd.0df5b8","order":10,"width":7,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":720,"wires":[["19491a0f.198036"]]},{"id":"bbeef8bd.0df5b8","type":"ui_group","name":"Smart Signs","tab":"ce06c931.a312b8","order":1,"disp":true,"width":23,"collapse":false},{"id":"ce06c931.a312b8","type":"ui_tab","name":"Signs","icon":"dashboard","order":2,"disabled":false,"hidden":false}]