Weather flow.json
[{"id":"5c16e3c6.41c24c","type":"tab","label":"whether","disabled":false,"info":""},{"id":"2e6b83e1.91c05c","type":"debug","z":"5c16e3c6.41c24c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":120,"wires":[]},{"id":"7de7141f.b6b2fc","type":"ibmiot in","z":"5c16e3c6.41c24c","authentication":"apiKey","apiKey":"efd49dca.2f461","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"VITDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":120,"wires":[["a4584df0.058f4","2e6b83e1.91c05c","256283fa.960b6c","25627b49.8c8914","cf4fcd3c.163be","fe8f6547.24f128","a9c201c4.58c0e"]]},{"id":"a4584df0.058f4","type":"function","z":"5c16e3c6.41c24c","name":"Temperature","func":"\nmsg.payload = msg.payload.temperature\nglobal.set('t',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":280,"wires":[["2e6b83e1.91c05c","85417e7c.1e2a2","f1eca363.6ca8c"]]},{"id":"256283fa.960b6c","type":"function","z":"5c16e3c6.41c24c","name":"Humidity","func":"msg.payload = msg.payload.humidity\nglobal.set(\"h\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":360,"wires":[["2e6b83e1.91c05c","50c05036.4ccc5","770b4870.dfb4f8"]]},{"id":"25627b49.8c8914","type":"function","z":"5c16e3c6.41c24c","name":"Visibility","func":"msg.payload = msg.payload.visible\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":440,"wires":[["2e6b83e1.91c05c","ddedbb1.b15f748","d61474a2.11a538"]]},{"id":"77df5af0.476544","type":"ui_text","z":"5c16e3c6.41c24c","group":"964e7248.1d81a","order":8,"width":12,"height":2,"name":"","label":"sky description","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":520,"wires":[]},{"id":"cf4fcd3c.163be","type":"function","z":"5c16e3c6.41c24c","name":"","func":"msg.payload = msg.payload.des\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":520,"wires":[["2e6b83e1.91c05c","77df5af0.476544","d2d844e7.bb78c8"]]},{"id":"85417e7c.1e2a2","type":"ui_gauge","z":"5c16e3c6.41c24c","name":"","group":"964e7248.1d81a","order":4,"width":4,"height":3,"gtype":"gage","title":"Temp","label":".C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":280,"wires":[]},{"id":"50c05036.4ccc5","type":"ui_gauge","z":"5c16e3c6.41c24c","name":"","group":"964e7248.1d81a","order":5,"width":4,"height":3,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":360,"wires":[]},{"id":"ddedbb1.b15f748","type":"ui_gauge","z":"5c16e3c6.41c24c","name":"","group":"964e7248.1d81a","order":6,"width":4,"height":3,"gtype":"gage","title":"Visibilty","label":"units","format":"{{value}}","min":0,"max":"10000","colors":["#ff0000","#e6e600","#0cb800"],"seg1":"3000","seg2":"6000","x":760,"y":440,"wires":[]},{"id":"fe8f6547.24f128","type":"function","z":"5c16e3c6.41c24c","name":"Speed","func":"msg.payload = msg.payload.Speed\nglobal.set(\"speed\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":580,"wires":[["2e6b83e1.91c05c","beccac9b.7c0b4"]]},{"id":"beccac9b.7c0b4","type":"ui_text","z":"5c16e3c6.41c24c","group":"964e7248.1d81a","order":13,"width":12,"height":2,"name":"","label":"Maintain Speed at(km/hr)","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":580,"wires":[]},{"id":"f1eca363.6ca8c","type":"cloudant out","z":"5c16e3c6.41c24c","name":"","cloudant":"","database":"test","service":"node-red-nfqvc-2021--cloudant-1625752185660-14762","payonly":true,"operation":"insert","x":750,"y":240,"wires":[]},{"id":"770b4870.dfb4f8","type":"cloudant out","z":"5c16e3c6.41c24c","name":"","cloudant":"","database":"test","service":"node-red-olzbe-2021--cloudant-1625752150882-90579","payonly":true,"operation":"insert","x":750,"y":320,"wires":[]},{"id":"d61474a2.11a538","type":"cloudant out","z":"5c16e3c6.41c24c","name":"","cloudant":"","database":"test","service":"node-red-olzbe-2021--cloudant-1625752150882-90579","payonly":true,"operation":"insert","x":750,"y":400,"wires":[]},{"id":"d2d844e7.bb78c8","type":"cloudant out","z":"5c16e3c6.41c24c","name":"","cloudant":"","database":"test","service":"node-red-olzbe-2021--cloudant-1625752150882-90579","payonly":true,"operation":"insert","x":750,"y":480,"wires":[]},{"id":"d843f01e.2e901","type":"http in","z":"5c16e3c6.41c24c","name":"","url":"/speed","method":"get","upload":false,"swaggerDoc":"","x":230,"y":740,"wires":[["8cb6e662.982638"]]},{"id":"8cb6e662.982638","type":"function","z":"5c16e3c6.41c24c","name":"","func":"msg.payload = {\"SPEED\": global.get('speed'), \"TRAFFIC\": global.get('traffic'), \"SKY\":global.get('sky')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":740,"wires":[["d8c2ed18.96df8"]]},{"id":"d8c2ed18.96df8","type":"http response","z":"5c16e3c6.41c24c","name":"","statusCode":"","headers":{},"x":800,"y":720,"wires":[]},{"id":"a9c201c4.58c0e","type":"function","z":"5c16e3c6.41c24c","name":"","func":"msg.payload = msg.payload.density\nglobal.set(\"traffic\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":660,"wires":[["2e6b83e1.91c05c","3beba3f7.810eec"]]},{"id":"3beba3f7.810eec","type":"ui_text","z":"5c16e3c6.41c24c","group":"964e7248.1d81a","order":50,"width":0,"height":0,"name":"","label":"Traffic Update:","format":"{{msg.payload}}","layout":"row-left","x":690,"y":660,"wires":[]},{"id":"efd49dca.2f461","type":"ibmiot","name":"API IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"964e7248.1d81a","type":"ui_group","name":"Whether Data","tab":"baada719.0d8f98","order":1,"disp":true,"width":30,"collapse":false},{"id":"baada719.0d8f98","type":"ui_tab","name":"Smart Road traffic","icon":"dashboard","disabled":false,"hidden":false}]